# Файлы сборки
build/
out/
bin/
*.exe
*.out

# Файлы CMake
CMakeCache.txt
CMakeFiles/
*.cmake
!CMakeLists.txt
Makefile
*.a
*.lib

# Файлы IDE
.vs/
.vscode/
*.sln
*.vcxproj
*.vcxproj.filters
*.vcxproj.user

# Временные файлы
*.tmp
*.temp
*~
*.bak

# Системные файлы
.DS_Store
Thumbs.db

# Логи
*.log